@font-face {
 font-family: 'Lavishly Yours';
 src: url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
}

.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 500;
  font-style: normal;
}

.container {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

*:-webkit-focus-ring {
  outline: none;
}

h2 {
  font-size: 70%;
  color: rosybrown;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 2% 0;
}

#banner {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(rgb(248, 145, 163), pink 60%);
  }

#banner::after { 
  position:absolute;
  top: 80px;
  width: 100%;
  height: 30px;
  content:" ";
  background: 
  radial-gradient(circle at 50% 0%, pink 25%, white 26%, white 40%);
  background-color: white;
  background-size: 50px 100px;
  background-repeat: repeat-x;
}
#subtitle {
  color: white;
  font-size: 20px;
  position: absolute;
  margin: 0;
  top: 12px
}
#title {
  position: absolute;
  z-index: 1;
  margin: 0;

  font-size: 55px;
  color: white;
  text-shadow: -1px 0 5px rgb(221, 113, 158);
}
span {
  vertical-align: 10%;
}

#lastUpdated {
  position: absolute;
  z-index: 1;
  top: 70px;
  color: white;

  font-size: 10px;
  margin: 0;
}

.body {
  padding: 5%;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.searchContainer {
  display: flex;
  width: 60%;
}

.borderedContainer {
  border: solid 2px pink;
  border-radius: 20px;
  padding: 1% 3%;
}

.search, .search:active {
  display: block;
  border: none;
  outline: none;
  height: 20px;
  width: 100%;
}

.searchBtn {
  background-color: transparent;
  border: none;
  color: pink;
  font-size: 20px;
  line-height: 30%;
  padding: 0;
}

.statusContainer {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  width: 100%;
}

.checkContainer {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 2%;
}

.artistsContainer {
  display: flex;
  flex-wrap: wrap;
}

.artistFilterContainer {
  margin: 1% 0.5%;
  background: none;
  color: pink;
  font-weight: bold;
  vertical-align:text-bottom;
}
.artistFilterContainer:hover {
  cursor: pointer;
}

.selectedArtist {
  background-color: pink;
  color: white;
  font-weight: bold;
}

.albumsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  height: 100%;
  margin: 0 5%;
}
.albumBox {
  margin: 2% 0;
  width: 30%;
}

.albumPhoto {
  height: 24vw;
  background-image: url("../public/album-pics/defaultimg.webp");
  background-size: cover;
  background-position: center;
  background-color:floralwhite;

  display: flex;
  justify-content: end;
}
.albumStatusSymbol {
  color: rgb(248, 145, 163);
  padding: 3%;
}
.albumArtist {
  margin: 2% 0 0 0;

  color: rosybrown;
  font-size: 70%;
  font-weight: bold;

  text-align: center;
}
.albumName {
  margin: 0 0;

  color: indianred;
  font-size: 85%;
  text-align: center;
  line-height: 90%;
}

.upbtn, .upbtn:visited, .upbtn:hover {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2.5%;
  right: 2.5%;
  padding: 2%;
  width: 25px;
  height: 25px;
  border-radius: 100%;

  background-color: pink;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@media (orientation: landscape) {
  h2 {
    font-size: 100%;
    margin: 1% 0;
  }
  #banner {
    height: 110px;
    width: 100%;
  }
  #banner::after { 
    top: 100px;
    height: 50px;
    width: 100%;
  }

  #subtitle {
    font-size: 20px;
    top: 15px;
  }

  #title {
    font-size: 65px;
  }

  #lastUpdated {
    top: 85px;
    font-size: 12px;
  }

  .searchContainer {
    padding: 1%;
  }

  .artistFilterContainer {
    margin: 0.5%;
  }

  .albumBox {
    width: 15%;
  }

  .albumPhoto {
    height: 150px;
  }

  .upbtn {
    padding: 1%;
  }
}